@model Contact

@section MyCss {
    adjhfiusdfiuadsgfiasgdifagsdigasda
}

<a asp-controller="Contact" asp-action="Details" style="color: black; text-decoration: none">
    <div style="border: 2px solid red; margin-bottom: 50px; padding: 20px; display: inline-block;">
        <p>ID: @Model.ID</p>
        <p>Name: @Model.Name</p>
        <p>Surname: @Model.Surname</p>
        
    </div>
</a>